@import 'normalize';
@import 'bourbon/bourbon';

/* six columns for 960px width */
$gw-column: 135px;
$gw-gutter: 30px;

/* height for indicators / quiz title */
$top-height: 80px;

/* keyframes */

@-webkit-keyframes next-button-slide {
  0% {right:-130px}
  40% {right:0}
  100% {right:-20px} /* to account for extra padding so backgorund doesn't show on slide in animation */
}

@-webkit-keyframes yellow-flash {
  0% {background:yellow;}
  100% {background:#eee;}
}

@-webkit-keyframes yellow-fadein {
  0% {background:#ccc;}
  100% {background:yellow;}
}

/* styles */

body {
	padding:0 1.5em;
}

#wrapper {
  margin:auto;
  max-width:1024px;
  position:relative;
}

h1 {
  color:#666;
  position:absolute;
  font-size:100%;
  font-weight:normal;
  margin:$top-height * .4125 0 0 0;
  text-transform:uppercase;
}

nav.indicators_wrapper {
  display:table;
  margin:0 auto;
}

ul.indicators {
  float:left;
  height:$top-height;
  margin:0;
  overflow:auto;
  padding:0;
  
  li {
    display:inline;
    float:left;
    list-style-type:none;
    margin-top:$top-height * .4375;
    
    span.q_num {
      background:#ccc;
      cursor:pointer;
      @include border-radius(100px);
      display:block;
      height:.75em;
      line-height:.75em;
      margin-right:.35em;
      text-align:center;
      text-indent:-9999px;
      width:.75em;
      
      &:focus, &:active {
        background:#666;
        color:#fff;
      }
    }
    
    &:hover {
      span.q_title {
        display:block;
      }
    }
    
    /* disable title on hover for inactive indicators */
    &.inactive:hover {
      span.q_title {
        display:none;
      }
    }
    
    span.q_title {
      background: rgba(0, 0, 0, .65);
      @include border-radius(5px);
      @include border-top-left-radius(0);
      color: #fff;
      display:none;
      font-size:85%;
      margin-top:.5em;
      padding: .5em .5em;
      position:absolute;
    }
    
    &.active {
      span.q_num {
        background:#666;
        color:#fff;
      }
    }
    
    &.inactive {
      span.q_num {
        cursor:default;
        opacity:.5;
        &:focus, &:active {
          background:#ccc;
          color:inherit;
        }
      }
    }
  }
}

h2 {
  clear:both;
  margin-bottom:.2em;
}

h3 {
  color:#666;
  font-size:70%;
  font-weight:normal;
  margin:0 0 0 1px; /* small margin for optical alignment */
  text-transform:uppercase
}

ul.options {
  padding:1em 0 0 0;
  
  li {
    display:block;
    list-style-type:none;
    margin-bottom:.4em;
    overflow:hidden; /* prevents scrollbar from appearing on next button animation */
    position:relative;
    
    span.o_next {
      @include box-shadow(-6px 0 6px -3px rgba(0,0,0,.3));
      display:none;
      position:absolute;
      right:-20px; /* to accommodate extra right padding */
      top:0;
      
      a {
        background:#666;
        color:#fff;
        display:block;
        padding:1em 20px 1em 0; /* extra right padding for slide animation */
        text-align:center;
        text-decoration:none;
        width:130px;
      }
    }
    
    a.option {
    	background:#eee;
    	color:#000;
    	display:block;
    	margin-bottom:.5em;
    	text-decoration:none;
    	
      span.o_label {
        background:#ccc;
        display:inline-block;
        float:left;
        padding:1em .5em;
        margin-right:1em;
        text-align:center;
        width:50px;
      }
      
      span.o_text {
        display:block;
        margin-left:85px;
        padding:1em .5em 1em 0;
      }
      
      &:focus, &:active {
        background:#666;
        color:#fff;
        
        span.o_label {
          background:#333;
        }
      }
  	}
	}
	
	li.clicked {
	
    a.option {
      -webkit-animation: yellow-flash .3s;
    }
    
    a.option span.o_label {
      -webkit-animation: yellow-fadein .3s;
      background:yellow; /* keep yellow color */
    }
    
    span.o_next {
      -webkit-animation: next-button-slide .3s;
      display:block;
    }
	}
}

.nextskip {
  background:#eee;
  color:#000;
  height:$top-height;
  line-height:$top-height;
  position:absolute;
  right:0;
  text-align:center;
  text-decoration:none;
  top:0;
  width:130px;
  
  &:focus, &:active {
    background:#666;
    color:#fff;
  }
}

#skip {
  background:#eee;
  /*margin-right:10em;*/
  
  &:focus, &:active {
    background:#666;
  }
}